body{
    font-family: 'Open Sans', sans-serif;
    color: #3F3F3F;
}
h1{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

.modal-header{
    font-size: 18px;
    line-height: 26px;
}

.small{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}
.regular{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.light-grey{
    color: #737D8A
}

.dark-grey{
    color: #3F3F3F
}

.head{
    height: 93px;
    width: 100%;
    background: #00704B;
    margin-bottom: 40px;
}

.wrapper{
    margin: 0 32px;
}

.ta-c{
    text-align: center;
}
.ps-16 {
    padding-left:16px ;
}
.cursor-p{
    cursor: pointer;
}

.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
}

.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.modal-container {
    margin: 0 auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.active-sell{
    color: #00704B;
    font-weight: 600;
}


.flex-jc-end {
    display: flex;
    justify-content: end;
}

.flex-jc-sb {
    display: flex;
    justify-content: space-between;
}
